<div class="header">
  <div ngbDropdown class="text-right">
    <button class="btn btn-secondary" id="dropdownLanguage" ngbDropdownToggle>
      {{'Language.Current' | translate}} : {{[currentLanguage.label]}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownLanguage">
      <a ngbDropdownItem *ngFor="let language of supportLanguages" (click)="onChangeLanguage(language.code)">
        {{language.label}}
      </a>
    </div>
  </div>
  <div ngbDropdown class="text-right" *ngIf="isLoggedIn">
    <button class="btn btn-primary" id="dropdownAccount" ngbDropdownToggle>{{loginUser.getFullName()}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownAccount">
      <a ngbDropdownItem routerLink="/user/profile">Profile</a>
      <a ngbDropdownItem routerLink="/user/security">Security</a>
      <button ngbDropdownItem (click)="logout()">Logout</button>
    </div>
  </div>
</div>
