<mat-toolbar color="primary" class="app-header">
  <h1><a mat-button routerLink="/">{{title}}</a></h1>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/projects">Projects</a>
  <a mat-button routerLink="/issues">Issues</a>
  <a mat-button routerLink="/users">Users</a>
  <a mat-button routerLink="/about">About</a>
  <span class="nav-tool-items">
    <a mat-button routerLink="/login" routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </span>
</mat-toolbar>
