<footer class="footer container py-3">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6 text-center text-xl-left text-muted">
      &copy; {{ copyRightYear | date: 'yyyy' }} made with ❤ by liemlylac
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center">
        <li class="nav-item">
          <a href="https://fb.com/liemlylac.me" class="nav-link" target="_blank">
            <i class="fab fa-facebook"></i>&nbsp;
            <span class="nav-link-inner--text">Facebook</span></a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/liemlylac" class="nav-link" target="_blank">
            <i class="fab fa-twitter"></i>&nbsp;
            <span class="nav-link-inner--text">Twitter</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/liemlylac" class="nav-link" target="_blank">
            <i class="fab fa-github-alt"></i>&nbsp;
            <span class="nav-link-inner--text">Github</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
