<div class="card-body p-5">
  <h1 class="text-center mb-3">{{ 'Auth.Request-password.Title' | translate }}</h1>
  <form [formGroup]="requestPasswordForm" (ngSubmit)="onSubmit(requestPasswordForm.value)">
    <div *ngFor="let error of errors" class="alert alert-danger">{{error}}</div>
    <div class="text-right">
      <a routerLink="/auth/request-password">{{'Auth.General.Forgot-your-password' | translate}}?</a>
    </div>
    <div class="form-group">
      <label for="email">{{ 'Auth.General.Email' | translate }}</label>
      <input type="text" id="email" formControlName="email" required
             class="form-control" [class.is-invalid]="isShowFieldDanger('email')"/>
      <div *ngIf="isShowFieldDanger('email')" class="bg-gradient-danger text-danger">
        <div *ngIf="email.errors.required">
          Email is required
        </div>
        <div *ngIf="email.errors.minlength">
          Email must be at least 6 characters long.
        </div>
        <div *ngIf="email.errors.maxlength">
          Email must be at most 20 characters long.
        </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" [disabled]="submitted">
        {{ 'Auth.Request-password.Button' | translate }}
      </button>
    </div>
    <div class="form-group">
      <button class="btn btn-secondary btn-block" routerLink="/auth/login">
        {{'Auth.Login.Button' | translate }}
      </button>
    </div>
  </form>
</div>
