<div class="auth-form">
  <h1>Register</h1>
  <form>
    <div><a routerLink="/auth/request-password">Forgot your password?</a></div>
    <div class="form-control">
      <label for="fullName">Full name</label>
      <input type="text" id="fullName">
    </div>
    <div class="form-control">
      <label for="username">Username</label>
      <input type="text" id="username">
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" id="password">
    </div>
    <div class="form-control">
      <button class="btn-primary">Register</button>
    </div>
    <div class="form-control">
      <button class="btn-secondary" routerLink="/auth/login">Login</button>
    </div>
  </form>
</div>
