<div style="padding: 15px;">
  <button mat-button mat-raised-button routerLink="/projects/new">Add project</button>
  <mat-spinner *ngIf="!loaded"></mat-spinner>
  <mat-card *ngFor="let project of projects" style="margin-top: 10px;">
    <mat-card-header>
      <mat-card-title>{{project.name}}</mat-card-title>
      <mat-card-subtitle>Start from: {{project.startDate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{project.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button mat-stroked-button color="primary" [routerLink]="['/project', project.id]">View details</a>
      <button mat-button mat-stroked-button color="accent">Delete project</button>
    </mat-card-actions>
  </mat-card>
  <p *ngIf="loaded && projects.length === 0">There is no project at this time</p>
</div>
