<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form class="login-form" [formGroup]="formData" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <mat-list>
          <mat-list-item>
            <mat-form-field class="input-full-width">
              <label>
                <input matInput placeholder="Username" name="username" formControlName="username">
              </label>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field class="input-full-width">
              <label>
                <input matInput placeholder="Password" type="password" name="password" formControlName="password">
              </label>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item>
            <button mat-flat-button [disabled]="loading" type="submit" color="primary" class="btn-block">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Log in
            </button>
          </mat-list-item>
          <mat-list-item>
            <button mat-flat-button [routerLink]="['/register']" type="submit" color="accent" class="btn-block">Register</button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </form>
  </mat-card>
</div>
