<div class="card-body p-5" *ngIf="isMissingToken && !isInvalidToken">
  <div class="alert alert-danger">
    Missing token, you will be redirect to login after {{redirectTimeout}} seconds...
  </div>
  <div class="form-group m-0">
    <a class="btn btn-primary btn-block" routerLink="/auth/login">
      {{'Auth.Login.Button' | translate }}
    </a>
  </div>
</div>
<div class="card-body p-5" *ngIf="!isMissingToken && isInvalidToken">
  <div class="alert alert-danger">
    Invalid token, please try again after a minute
  </div>
  <div class="form-group m-0">
    <a class="btn btn-primary btn-block" routerLink="/auth/login">
      {{'Auth.Login.Button' | translate }}
    </a>
  </div>
</div>
<div class="card-body p-5" *ngIf="isVerifyingToken && !isMissingToken && !isInvalidToken">
  <div class="d-flex align-items-center">
    <strong>Verifying token...</strong>
    <div class="spinner-border text-primary ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>
<div class="card-body p-5" *ngIf="!isVerifyingToken && !isMissingToken && !isInvalidToken">
  <h1 class="text-center mb-3">{{ 'Auth.Reset-password.Title' | translate }}</h1>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
    <div *ngFor="let error of errors" class="alert alert-danger">{{error}}</div>
    <div class="form-group">
      <label for="password">{{'Auth.General.Password' | translate}}</label>
      <input type="password" id="password" formControlName="password" required minlength="6" maxlength="30"
             class="form-control" [class.is-invalid]="isShowFieldDanger('password')"/>
      <div *ngIf="isShowFieldDanger('password')" class="text-danger">
        <div *ngIf="password.errors.required">
          Password is required
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters long.
        </div>
        <div *ngIf="password.errors.maxlength">
          Password must be at most 30 characters long.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordConfirm">{{'Auth.General.Password-confirm' | translate}}</label>
      <input type="password" id="passwordConfirm" formControlName="passwordConfirm" required minlength="6"
             maxlength="30"
             class="form-control" [class.is-invalid]="isShowFieldDanger('passwordConfirm')"/>
      <div *ngIf="isShowFieldDanger('passwordConfirm')" class="text-danger">
        <div *ngIf="passwordConfirm.errors.required">
          Password confirm is required
        </div>
        <div *ngIf="passwordConfirm.errors.minlength">
          Password confirm must be at least 6 characters long.
        </div>
        <div *ngIf="passwordConfirm.errors.maxlength">
          Password confirm must be at most 30 characters long.
        </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" [disabled]="isSubmitted">
        {{ 'Auth.Reset-password.Button' | translate }}
      </button>
    </div>
    <div class="form-group">
      <button class="btn btn-secondary btn-block" routerLink="/auth/login">
        {{'Auth.Login.Button' | translate }}
      </button>
    </div>
  </form>
</div>
