$kots-black-primary: mat-palette($mat-grey, 700, 300, 900);
$kots-black-accent: mat-palette($mat-blue-grey, 400);
$kots-black-warn: mat-palette($mat-red, 500);

$kots-black-theme: mat-dark-theme($kots-black-primary, $kots-black-accent, $kots-black-warn);
