<div *ngIf="hasAlerts()" class="alerts" [ngStyle]="style" [class]="className"
     [@alertAnimation]="{value: 'visible', params: {showTransitionParams: showTransitionOptions, hideTransitionParams: hideTransitionOptions}}">
  <ng-container *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="dismiss(alert)">
      <ng-container *ngIf="usingHtml; else escapeHtml">
        <span [innerHTML]="alert.message"></span>
      </ng-container>
      <ng-template #escapeHtml>
        <span>{{alert.message}}</span>
      </ng-template>
    </ngb-alert>
  </ng-container>
</div>
