<div class="main-content h-100 d-flex flex-column">
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/auth/login']">
        <img src="{{appLogo}}" alt="Kots logo"/>
      </a>
      <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
              aria-controls="sidenav-collapse-main">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <div class="collapse navbar-collapse"
           [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a routerLinkActive="active" [routerLink]="['/auth/login']">
                <img src="assets/images/logo48.png" alt="Kots logo">
              </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
                <fa-icon [icon]="faTimes"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="https://github.com/liemlylac/kots-angular" class="nav-link nav-link-icon">
              <i class="fab fa-angular"></i>&nbsp;
              <span class="nav-link-inner--text">Angular</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/liemlylac/kots-nestjs" class="nav-link nav-link-icon">
              <i class="fab fa-node-js"></i>&nbsp;
              <span class="nav-link-inner--text">Nest</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/liemlylac/kots-angular" class="nav-link nav-link-icon">
              <span class="nav-link-inner--text">Documents</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/liemlylac/kots-angular/blob/master/LICENSE"
               class="nav-link nav-link-icon" target="_blank">
              <span class="nav-link-inner--text">MIT License</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row justify-content-center mt-xl-4 mt-lg-6 mt-md-4 mt-2">
    <div class="card col-xl-4 col-lg-6 col-md-8 col-10">
      <div class="card-body p-xl-5 p-lg-3 p-md-2 p-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer class="mt-auto"></app-footer>
</div>
