<h1 class="text-center mb-3">{{ 'Auth.Login.Title' | translate }}</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <app-alert></app-alert>
  <div class="text-right">
    <a routerLink="/auth/request-password">{{'Auth.General.Forgot-your-password' | translate}}?</a>
  </div>
  <div class="form-group">
    <label for="email">{{'Auth.General.Email' | translate}}</label>
    <input type="text" id="email" formControlName="email" required
           class="form-control" [class.is-invalid]="isShowFieldDanger('email')"/>
    <div *ngIf="isShowFieldDanger('email')" class="bg-gradient-danger text-danger">
      <div *ngIf="email.errors.required">
        Email is required
      </div>
      <div *ngIf="email.errors.email">
        Email can contain only latin letters, numbers, '@' and '.'
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">{{'Auth.General.Password' | translate}}</label>
    <input type="password" id="password" formControlName="password" required minlength="6" maxlength="30"
           class="form-control" [class.is-invalid]="isShowFieldDanger('password')"/>
    <small class="form-text text-muted">
      Password must be 6-30 characters long.
    </small>
    <div *ngIf="isShowFieldDanger('password')" class="text-danger">
      <div *ngIf="password.errors.required">
        Password is required
      </div>
      <div *ngIf="password.errors.minlength">
        Password must be at least 6 characters long.
      </div>
      <div *ngIf="password.errors.maxlength">
        Password must be at most 30 characters long.
      </div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit" [disabled]="submitted">
      {{ 'Auth.Login.Button' | translate }}
    </button>
  </div>
  <div class="form-group">
    <button class="btn btn-secondary btn-block" routerLink="/auth/register">
      {{'Auth.Register.Button' | translate }}
    </button>
  </div>
</form>
